:root {
  /* Tokens */
  --color-primary: #fff;
  --color-secondary: #0093ad;
  --color-text-primary: #575757;
  --color-text-secondary: #8f8e8e;

  /* Root css */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light;
  color: var(--color-text-primary);
  background-color: var(--color-primary);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
