:root {
  /* Tokens */
  --color-primary: #fff;
  --color-secondary: #0093ad;
  --color-monochrome-dark: #474747;
  --color-monochrome-med: #575757;
  --color-monochrome-reg: #8f8e8e;
  --color-monochrome-light: #ccc;
  --color-monochrome-white: #fff;

  /* Root css */
  font-family: system-ui, sans-serif;
  color-scheme: light;
  color: var(--color-monochrome-med);
  background-color: var(--color-primary);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
