.header-wrap {
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}
