.event-list-wrap {
  margin: 0 auto;
}

.event-list-heading {
  text-align: center;
  margin-bottom: 2rem;
}

.event-list-search {
  max-width: 600px;
  margin: 0 auto 3rem;
}

.event-list-search-input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--color-monochrome-light);

  &:focus {
    outline: none;
    border-color: var(--color-secondary);
  }
}

.event-list-empty {
  text-align: center;
  padding: 2rem;
}

.event-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
  list-style: none;
  padding: 0;

  li {
    display: contents;
  }
}

.event-item {
  border: 1px solid var(--color-monochrome-light);
  padding: 1rem;
  overflow: hidden;
}

.event-item-name {
  margin-bottom: 0.75rem;
  overflow-wrap: break-word;
  hyphens: auto;
}

.event-item-date {
  color: var(--color-secondary);
  margin-bottom: 0.5rem;
}

.event-item-location {
  color: var(--color-monochrome-reg);
}

.event-pagination {
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid var(--color-monochrome-reg);
}
